:root {
  /* general */
  --background_color: #121820;    
  --text_color: #cbd6e4;          
  --header_color: #0d99ff;       

  /* toolbar */
  --toolbar_color: #1e2a38;       
  --highlight_color: #3399ff;     
  --hover_color: #66b3ff;        

  /* search bar */
  --searchbar_bg: #1e2a38;        
  --searchbar_text: #cbd6e4;      
  --searchbar_border: #3399ff;    

  /* cards */
  --card_bg: #1b2230;            
  --card-border: #465572;         

  /* Super effective */
  --super-effective-bg: #4CAF50;
  --super-effective-text: #ffffff;

  /* Normal */
  --normal-effective-bg: #B0B0B0;
  --normal-effective-text: #000000;

  /* Not very effective */
  --not-very-effective-bg: #FFC107;
  --not-very-effective-text: #000000;

  /* Immune */
  --immune-effevtive-bg: #E53935;   
  --immune-effective-text: #ffffff; 
}


/*Text################################################*/
.header {
  margin-top: 40px;
  color: var(--header_color);
}

.header2 {
  margin-top: 40px;
  color: var(--header_color);
}

.raw-text {
  margin-top: 40px;
  color: var(--text_color);
  font-size: 18px;
}

/*Search Bar#################################################*/
.search-bar-container {
  margin-top: 40px;
  margin-left: auto;   
  margin-right: auto;
}

.search-bar {
  font-size: 16px;
  width: 100%;
  height: 48px;
  color: var(--searchbar_text);
  background-color: var(--searchbar_bg);
  border: 1px solid var(--searchbar_border);
  border-radius: 6px;
}

.search-bar.p-inputtext:focus {
  outline: 2px solid var(--hover_color);
  box-shadow: none; 
}

/*Pages#####################################################*/
.general-page {
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 50px;
  padding-bottom: 100px;
  box-sizing: border-box;
  background-color: var(--background_color);
  color: var(--text_color)
}

.loading-page {
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: var(--background_color);
  color: var(--header_color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Footer####################################################*/
.footer {
  text-align: left;
  background-color: var(--toolbar_color);
}

/*Containers################################################*/
.horizontal-container {
  padding-top: 20px;
  display: flex;
  flex-direction: row; 
  gap: 100px; 
  align-items: center;
  justify-content: center; 
}

/*InfoCard#####################################################*/
.small-card {
  background: var(--card_bg);
  color: var(--text_color);
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 5px;
}

.small-card:hover {
  border-style: solid;
  border-width: 3px;
  border-color: var(--highlight_color);
}

.small-card-image {
  width: 100%;
  height: 200px; 
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.small-card-title {
  font-size: 20px;
  font-weight: bold;
  padding: 4px 10px;
}

.small-card-text {
  font-size: 30px;
  color: var(--searchbar_border);
  padding: 4px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



